*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #dfdfdf;
  color: #000;
}

/* HEADER */

.top-header{
  width: 100%;
 height: 115px;

  background: #000;

  backdrop-filter: blur(10px);
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 35px;

  position: sticky;
  top: 0;
  z-index: 999;

  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* ESQUERDA */

.header-left{
  display: flex;
  align-items: center;
  gap: 14px;

  width: 250px;
}

/* LOGO CENTRAL */

.logo{
  position: absolute;

  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);

  width: 420px;
  height: 140px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: visible;
}

/* IMAGEM DA LOGO */

.logo img{
  width: 100%;
  height: 100%;

  object-fit: contain;

  display: block;

  /* REMOVE LIMITES */
  max-width: none;
  max-height: none;

  /* AUMENTA A ARTE */
  transform: scale(3.2);

  transition: transform 0.3s ease;
}

.logo img:hover{
  transform: scale(3.3);
}

/* DIREITA */

.header-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;

  width: 250px;
}

/* LINKS */

.top-links{
  display: flex;
  align-items: center;
  gap: 7px;

  font-size: 13px;
  font-weight: 500;
}

.top-links a{
  text-decoration: none;
  color: white;

  transition: 0.3s;
}

.top-links a:hover{
  opacity: 0.7;
}

/* ICONES */

.icons{
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn,
.search-btn,
.icons button{
  border: none;
  background: transparent;

  color: white;

  font-size: 24px;

  cursor: pointer;

  transition: 0.3s ease;
}

.menu-btn:hover,
.search-btn:hover,
.icons button:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

/* RESPONSIVO */

@media(max-width: 900px){

  .top-header{
    height: 80px;
    padding: 0 18px;
  }

  .top-links{
    display: none;
  }

  .header-left{
    width: auto;
  }

  .header-right{
    width: auto;
  }

  .logo img{
    width: 115px;
    max-height: 45px;
  }

}

@media(max-width: 500px){

  .logo img{
    width: 95px;
  }

  .menu-btn,
  .search-btn,
  .icons button{
    font-size: 19px;
  }

}

/* NAV */

.main-nav{
  display: flex;
  justify-content: center;
  gap: 22px;
  padding: 25px;
  font-weight: 700;
}

.main-nav a{
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.main-nav a:hover{
  opacity: 0.6;
}

/* MODELOS */

.models-section{
  padding: 30px 5%;
}

.models-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.model-card{
  overflow: hidden;
}

.model-card img{
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: 0.5s;
}

.model-card:hover img{
  transform: scale(1.05);
}

/* COLLECTIONS */

.collections-section{
  margin-top: 30px;
}

.collection-banner{
  position: relative;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

.collection-banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.collection-banner h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 2px;
}

/* PRODUTOS */

.products-section{
  padding: 60px 3%;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}

.product-card{
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.product-card:hover{
  transform: translateY(-5px);
}

.product-image{
  overflow: hidden;
}

.product-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: 0.4s;
}

.product-card:hover img{
  transform: scale(1.05);
}

.product-info{
  padding: 15px;
}

.product-info h3{
  font-size: 28px;
  margin-bottom: 10px;
}

.product-info p{
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
}

.product-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-bottom span{
  font-size: 32px;
  font-weight: 800;
}

.add-cart{
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.add-cart:hover{
  transform: rotate(90deg);
}

/* SOBRE */

.about-section{
  padding: 80px 4%;
}

.about-container{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.newsletter h3{
  margin-bottom: 18px;
}

.newsletter-box{
  display: flex;
  border: 2px solid black;
  width: 250px;
  height: 45px;
}

.newsletter-box input{
  flex: 1;
  border: none;
  background: transparent;
  padding-left: 12px;
  outline: none;
}

.newsletter-box button{
  width: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.socials{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 24px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-links a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.contact h3{
  margin-bottom: 15px;
}

.contact p{
  margin-bottom: 10px;
}

.footer-bottom{
  margin-top: 90px;
  text-align: center;
}

.footer-bottom h2{
  letter-spacing: 8px;
  margin-bottom: 30px;
}

.payments{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 45px;
}

/* SIDEBAR */

.sidebar{
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100vh;
  background: #111;
  z-index: 1000;
  padding: 30px;
  transition: 0.4s;
}

.sidebar.active{
  left: 0;
}

.sidebar-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 40px;
}

.sidebar-top button{
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.sidebar-links{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar-links a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s;
}

.sidebar-links a:hover{
  padding-left: 10px;
}

/* OVERLAY */

.overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.overlay.active{
  opacity: 1;
  visibility: visible;
}

/* POPUP */

.cart-popup{
  position: fixed;
  bottom: -100px;
  right: 20px;
  background: black;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  transition: 0.4s;
  z-index: 999;
}

.cart-popup.show{
  bottom: 20px;
}

/* RESPONSIVO */

@media(max-width: 1200px){

  .product-grid{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media(max-width: 900px){

  .models-grid{
    grid-template-columns: 1fr;
  }

  .top-links{
    display: none;
  }

  .collection-banner h2{
    font-size: 28px;
    width: 90%;
    text-align: center;
  }

}

@media(max-width: 700px){

  .top-header{
    padding: 18px;
  }

  .logo h1{
    font-size: 20px;
  }

  .main-nav{
    flex-wrap: wrap;
    gap: 12px;
  }

  .product-grid{
    grid-template-columns: 1fr;
  }

  .product-bottom span{
    font-size: 24px;
  }

  .about-container{
    flex-direction: column;
  }

  .payments{
    flex-wrap: wrap;
  }

}
